@charset "utf-8";
/* CSS Document */



html {
  border-top: 7px solid #D8D8D8;
}
body {
  margin-top: 100px;
  -x-system-font: none;
  font-family: arial,helvetica,clean,sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
div#clear {
  clear: both;
}
a {
  text-decoration: none;
}



/* container */
div#container {
  margin: 0 auto;
  width: 910px;
  border: 0px solid #CCC;
}
div#left-splash {
  border: 0px solid #CCC;
  float: left;
  width: 350px;
  padding: 10px 0 0 0;
  text-align: right;
}
div#left-splash label{
  font-weight: bold;
  color: #333333;
  padding-right: 10px;
}
div#left-splash label#remember-me{
  font-weight: normal;
  color: #666666;
  font-size: 10px;
  padding: 0 0 0 5px;
}
div#left-splash input[type="text"], input[type="password"], input[type="checkbox"] {
  margin-bottom: 10px;
  border: 1px solid #CCC;
  padding: 3px;
  font-weight: bold;
  color: #666;
}
div#left-splash div#signup-submit input[type="submit"] {
  margin-top: 15px;
  border: 1px solid #CCC;
  color: #333333;
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}

div#right-splash {
  border: 0px solid #CCC;
  float: right;
  width: 450px;
  padding: 10px 0 0 50px;
  border-left: 5px solid #D8D8D8;
  color: #666;
}
div#right-splash h2 {
  color: #333;
  border-bottom: 1px solid #CCC;
  padding-bottom: 7px;
}
div#right-splash ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div#right-splash ul li {
}
div#err-msg {
  border: 0px solid #CCC;
  margin-top: 30px;
  text-align: left;
  margin-left: 118px;
}
div#err-msg-content {
  border-left: 7px solid #D6361C;
  font-size: 12px;
  color: #666;
  padding: 5px;
}
a#facebook-btn {
  color: #FFF;
  background-color: #627AAD;
  width: 100px;
  height: 30px;
  padding: 3px 7px 3px 7px;
  font-weight: bold;
  border: 1px solid #3B5998;
}
div#logout {
  cursor: pointer;
  padding: 5px;
  background-color: #CCCCCC;
  border: 1px solid #999999;
  font-weight: bold;
}

/* footer */
div#footer {
  width: 910px;
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid #D8D8D8;
  text-align: center;
  color: #999999;
  font-weight: bold;
}
