<div id="left-splash">
  <%= form_tag("/login") do %>
    <div>
      <label for="email">Account / Email:</label>
      <input type="text" id="email" name="email" tabIndex="1" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" tabIndex="2" />
    </div>
    <div>
      <%= check_box_tag "remember-me", "on", false, {:tabIndex => 3} %>
      <label for="remember-me" id="remember-me">Remeber me for 14 days</label>
    </div>
    <div id="signup-submit">
      <input type="submit" id="submit" name="submit" tabIndex="4" value="Login" />
    </div>
  <% end %>
</div>
<div id="right-splash">
  A clone of the rubycas-server, providing a cross-domain single sign-on solution for web applications using Rails3.
  <h2>Our Fatures</h2>
  <ul>
    <li>Plugable Module</li>
    <li>With authentication module for Facebook, Google and Yahoo!</li>
  </ul>
</div>
