<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="googlebot" content="index,follow" />
  <meta name="robots" content="index,follow" />
  <title>CAS Server with Rails3</title>
  <%= stylesheet_link_tag @theme + "/theme.css" %>
  <%= csrf_meta_tag %>
</head>

<body onload="if (document.getElementById('username')) document.getElementById('username').focus()">
  <div id="container">
    <%= yield %>
    <div id="clear"></div>
    <div id="footer"><%= @infoline %></div>
  </div>
</body>
</html>